# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.venv/
Scripts/
Lib/
share/
pyenv.cfg
pyvenv.cfg
# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Environment / secrets
.env
.env.*
.twitch_tokens.json
TWITCH_OAUTH_TOKEN
TWITCH_CLIENT_SECRET

# OS files
.DS_Store
Thumbs.db

# Output clips
clips/

# Logs
*.log

# Temporary files
*.tmp
*.swp
